.meal {
    display:flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .container{
    display: inline;
  } 
  .add{
    cursor: pointer;
    background-color: aliceblue;
    color: #100f0e;
    font-size: large;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  } 
  .sub {
    cursor: pointer;
    background-color: rgb(162, 251, 218);
    color: #282725;
    font-size: large;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  } 
  .amount {
    padding: 0.25rem 1rem;
    margin-left: 1rem;
  }